					
			<div class="container" ng-controller="ctrl as vm">
				<div class="first-input" ng-hide="vm.hideLocation">
						<h1>{{vm.heading}}</h1>
						<hr />
						<h2>{{vm.subheading}}</h2>
					<form class="location-input">
						<input class="text" type="text" placeholder="Enter a location" size="20" id='query'>
						<input  class="button" type="submit" onsubmit="return false" ng-click=" vm.getLocData();" value="GO!">
					</form>
				</div>
				 <div class="second-input" ng-hide="vm.hideHobby">
						<h1>{{vm.heading}}</h1>
						<hr />
						<h2>{{vm.subheading2}}</h2>
					<form class="location-input" href="#home" onsubmit="return false">
						<input class="text" type="text" placeholder="Enter a hobby" size="20" id='query2'>
						<input class="button" type="submit" ng-click="vm.getHobData();" value="GO!">
					</form>
				</div>
				<div class="results" ng-show="vm.showResults">
						<h2>{{vm.resultsHeading}}</h2>
						<a class="new-search" ng-click=vm.getPath()>New Search</a>
					<div class="row" ng-repeat="places in vm.placesArray">
						<a class="links" href={{places.url}} target="_blank">{{places.name}}</a>
						<p class="address" ng-repeat="address in places.location.display_address">{{address}}</p>		
						<p class="description">{{places.snippet_text}}</p>
						<br />	
						<img class="rating" ng-src="{{places.rating_img_url_large}}"{{places.rating_img_url_large}}>
						<img class="images" ng-src=" {{places.image_url}} " {{places.image_url}}>
					</div>
					</div>					
				</div>
					<div class="header"></div>
						<div class="footer">
							<h1>{{vm.footer}}</h1>
						</div>
				</div>			
